@media (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 1.1rem;
    }
    header img {
        width: 5rem;
    }
    .anuncio {
        font-size: 1rem;
        text-align: center;
    }
    .ropahombre{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .ropamujer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .card {
        width: 16rem;
    }
    footer {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 15px;
    }
}