// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Import

@import "./layout/header";
@import "./base/reset";
@import "./layout/portada";
@import "./components/carrusel.scss";
@import "./components/cards.scss";
@import "./layout/hombre";
@import "./layout/footer";
@import "./layout/botines";
@import "./layout/mujer";
@import "./extras/nikeads";
@import "./media-queries/media-laptop";
@import "./media-queries/media-mobile";
@import "./components/botones";
@import "./utilities/variables";
@import "./extras/wsp";






