@import "../utilities/variables";
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
        a{
            text-decoration: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            &:hover{
                font-weight: $negrita;
            }
            img{
                max-width: 100px;
                height: auto;
            }
        }
        ul{
            display: flex;
            list-style-type: none;
            flex-wrap: wrap;
            gap: 10px;
           li{
                margin: 5px;
            }
        }
        img{
            max-width: 100px;
            height: auto;
        }
}