.anuncio{
    background-color: black;
    position: sticky;
    top: 0px;
    padding: 5px;
    z-index: 1000;
        p{
            font-size: 19px;
            text-align: center;
            color: white;
    }
}