.ropahombre {
    display: flex;
    margin: 30px;
    transition: 1s;
    justify-content: center;
    gap: 10px;
}
.ropamujer {
    display: flex;
    margin: 30px;
    transition: 1s;
    justify-content: center;
    gap: 10px;
}

